.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
    gap: 2rem;
}

body {
    max-width: 1000px;
    margin-inline: auto;
}

@media (min-width: 375px) and (max-width: 999px) {
    body {
        margin-inline: 2rem;
    }
}